accelerate
aiohappyeyeballs
aiohttp
aiosignal
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
black
bleach
boto3
botocore
certifi
cffi
cfgv
charset-normalizer
click
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
distlib
executing
fastjsonschema
filelock
flake8
fonttools
fqdn
frozenlist
fsspec
h11
httpcore
httpx
huggingface-hub
identify
idna
importlib_metadata
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jmespath
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
mpmath
multidict
multiprocess
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nodeenv
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pillow
pip
platformdirs
pre-commit
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
s3transfer
sacremoses
safetensors
Send2Trash
sentencepiece
setuptools
six
sniffio
soupsieve
stack-data
sympy
terminado
tinycss2
tokenize-rt
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
xxhash
yarl
zipp
